<div class="session font-italic">
<div class="jumbotron text-center">
    <h2 class="display-1 mb-5 pb-5">Welcome To PokePet!</h1>
    <div class="btn-group my-5">
        <%= button_to "Sign Up", new_user_path, method: :get, class:"btn btn-secondary btn-lg text-uppercase mx-5 p-3" %>
        <%= button_to "Log In", signin_path, method: :get, class:"btn btn-secondary btn-lg text-uppercase mx-5 p-3" %>
        <%= link_to 'Log in with Google!', '/auth/google_oauth2', class:"btn btn-secondary btn-lg text-uppercase mx-5 p-3" %>
    </div>
</div>
</div>