<h3>Your Inventory</h3>
<ul>
    <li>Poke Dollars: <%= current_user.poke_dollars %></li>
    <li>Treats: <%= current_user.treats %></li>
    <li>PokeToys: <%= current_user.poke_toys %></li>
    <li>PokeDolls: <%= current_user.poke_dolls %></li>
</ul>