<div class="session font-italic text-center">
<div class=" create-account font-weight-bold">
    <h2 class="display-2 mb-5">Create A New Account</h1>
    <%= render partial: "form", locals: {user: @user} %>
</div>
</div>