<h1 class="text-center mt-5 mb-3">PokePet Adoption Center!</h1>

<p class="text-center mb-5">
    Welcome to the adoption center! Here you can browse all of the PokePets available
    for adoption. Simply click on the "Adopt" button, and we will draft up the adoption
    paperwork for you. Just fill out the form, and your new PokePet will be ready to
    come home with you!
</p>

<div class="row">
<% @pokepets.each do |pet| %>
    <div class="card col-lg-3 mx-4 my-2 p-2">
        <%= image_tag pet.image, class:"card-img-top" %>
        <h4 class="card-title text-center my-2">
            <%= pet.name %>
        </h4>
        <div class="card-body text-center p-1">
        <p>
            Type: <%= pet.element %>
        </p>
        <%= button_to "Adopt", new_poke_pet_adoption_path(pet), method: :get, class:"btn" %>
        </div>
    </div>
<% end %>
</div>