<h1 class="text-center mt-5 mb-3">PokePet Adoption Center!</h1>
<p class="text-center mb-5">
    Welcome to the adoption center! Here you can browse all of the PokePets available
    for adoption. Simply click on the "Adopt" button, and we will draft up the adoption
    paperwork for you. Just fill out the form, and your new PokePet will be ready to
    come home with you!
</p>

<% @pokepets.each do |pet| %>
    <div>
        <%= image_tag(pet.image) %><br>
        <%= pet.name %><br>
        Type: <%= pet.element %><br>
        <%= link_to "Adopt", new_poke_pet_adoption_path(pet) %>
    </div>
<% end %>