<h1>Poke Pets!</h1>

<% @pokepets.each do |pet| %>
    <div>
        <%= image_tag(pet.image) %><br>
        <%= pet.name %><br>
        Type: <%= pet.element %><br>
        <%= link_to "Adopt", new_poke_pet_adoption_path(pet) %>
    </div>
<% end %>