<h1>Poke Mart</h1>
<p>
    <%= image_tag("https://cdn.holdtoreset.com/wp-content/uploads/2019/11/14233027/Where-Are-Poke-Marts-750x422.jpg") %>
</p>
<p>Welcome to the PokeMart! Here you can buy items to replenish your inventory and better care for your PokePet!</p>
<p>
    <table>
        <tr>
            <th>Item</th>
            <th>Description</th>
            <th>Price</th>
            <th>Button</th>
        </tr>
        <tr>
            <td>PokeTreat</td>
            <td>Reduces hunger by 1 point</td>
            <td>100</td>
            <td>button</td>
        </tr>
        <tr>
            <td>PokeToy</td>
            <td>Increases happiness by 1 but also increases hunger and thirst</td>
            <td>200</td>
            <td>button</td>
        </tr>
        <tr>
            <td>PokeDoll</td>
            <td>Increases happiness by 10, resulting in a level up</td>
            <td>500</td>
            <td>button</td>
        </tr>
    </table>
</p>
<%= render partial: "users/inventory" %>