<h1>Poke Mart</h1>
<p>
    <%= image_tag("https://cdn.holdtoreset.com/wp-content/uploads/2019/11/14233027/Where-Are-Poke-Marts-750x422.jpg") %>
</p>
<p>text blurb</p>
<p>items to buy with prices and buttons to update</p>